{% extends 'layout.html.twig' %}

{% block stylesheets %}
{{ parent() }}
    <style>
        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="starter-template">
        <h1>AddressBook mailXpert API Application Demo</h1>
        <p class="lead">This is the demo application for the mailXpert tutorial about developing with the API.</p>
    </div>
{% endblock %}