{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Login</h1>
    </div>
{% endblock %}